*.[ao]
config.mak
autom4te.cache
config.log
config.status
configure
INSTALL
Makefile
Makefile.in
aclocal.m4
compile
config.guess
config.sub
depcomp
install-sh
missing
config.h
config.h.in
stamp-h1
libtool
ltmain.sh
m4
syn68k-*.tar.gz
